*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.navbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    overflow: hidden;
}

nav{
    flex: 1;
    text-align: left;
    
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


input[type=text] {
    background-color: rgb(237, 237, 245);
    width: 200%;
    height: 50px;
    border: none;
    padding-left: 20px;
    font-size: 15PX;
   
}

.container{
    margin-top: 120px; /* Add a top margin to avoid content overlay */
}

.row{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.col1{
    flex-basis: 20%;
}

h3{
    padding-left: 30px;
    font-size: 25px;
    color: rgb(128, 121, 121);
    font-family: 'Work Sans', sans-serif;
}
.heading{
    text-align: center;
    color: rgb(87, 51, 110);
}
.titletext{
    text-align: center;
    color: rgb(87, 51, 110);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.col2{
    padding: 17px 17px 17px 17px;
    margin: 20px 20px 20px 20px;
    flex-basis: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2{
    font-family: 'Inter', sans-serif;
    color: rgb(71, 68, 68);
}
h1{
    font-family: 'Mukta', sans-serif;
    font-size: 37px;
}

button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height:80px;
    font-size: 25px;
    box-shadow: 0px -4px 5px rgba(50, 50, 50, 0.75);
  }

.product{
    margin-top:100px;
    overflow: hidden;
    /*position: fixed; /* Set the navbar to fixed position */
    width: 100%; /* Full width */
    
    align-items: center;
    background-color: #ffffff;
    /*box-shadow: 2px 2px 12px rgba(0,0,0,0.2);*/
    overflow: hidden;
  }

ul.productList{
    list-style-type: none;
    display: flex;
}

ul.productList li{
    padding: 20px;
    flex-basis: 20%;
}

li img{
    object-fit:scale-down;
}

.col3{
    margin: 20px 20px 20px 20px;
    flex-basis: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

span{
    color: rgb(233, 19, 55)
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}





.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
 
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.content-title{
    text-align: center;
    padding-right: 13px;
}
.fadeIn-bottom{
  top: 80%;
}
